.news-board{
    width: 100%;
    height: 100vh;
    
    
}

.headline-head{
    font-size: 2vw;
    margin-right: 0.5vw;
    font-weight: 600;
    font-family: "Alegreya" ;
}
.headline-title{
    font-size: 1.8vw;
    margin-left: 0.7vw;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}

// ###Article content

.news-container{
    display: grid ;
    column-gap: 2vw;
    row-gap: 1vw;
    grid-template-columns: 32% 32% 32% ;
    grid-row: 30% 30% 30%;
    
    
}
