
.header {

    background-color: white;
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
  
    .logo{
      height: 100%;
        
        flex-direction: row;
        display: inline-block;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 3.5vw;
        font-style: italic;
        opacity: 80%;
        font-family: 'Alegreya', serif;
    }
    .logo h1{
      font-size: 2vw;
      align-content: center;
    }
    
  
    .options {
    
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        text-decoration: none;
        color: black;
        opacity: 50%;
        
        padding: 5px ;
    
        font-family: 'Lato', sans-serif;
        padding-bottom: 5px;
        margin-right: 39px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.589);
      }
      .option:hover{
        opacity: 100%;
        
    }
    }
  }
  