.sidebar{
    float: left;
    height: 80vh;
    width: 15%;
    margin-left: 2vw;
    border-radius: 10px;
    background-color: white;
   
}
.sidebar-container{
    position: relative;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    top: 5vh;
 
  
}