
.channel-container{
    margin-left: 3vw;
    background-color: white;
    position: relative;
    height: 28vh;
    border-radius: 10px;
    width: 12vw;
    display: flex;
    align-content: space-between;
    top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
   
}